/* region Landing page */

#eyecatch {
    text-align: center;
}

#track {
    position: relative;
}

#track::after {
    display: block;
    position: absolute;
    bottom: 1.2em;
    left: 0;
    content: "movies.";
}

#track::before {
    display: block;
    position: absolute;
    bottom: 2.4em;
    left: 0;
    content: "books.";
}

/* endregion */

/* region Header */

#sign-in-error-text,
#collection-error-text {
    color: var(--del-color);
}

/* endregion */
