/* region Landing page */

#eyecatch {
    min-height: 75vh;
}

#track {
    position: relative;
}

#track::after {
    display: block;
    position: absolute;
    bottom: 1.2em;
    left: 0;
    content: "movies.";
}

#track::before {
    display: block;
    position: absolute;
    bottom: 2.4em;
    left: 0;
    content: "books.";
}

/* endregion */
