/* region Shared page style */

body {
    --color-main: #5C7AA9;
    --color-light: #F7F9F9;
    --color-light-accent: #8F9DA0;
    --color-dark: #162433;
    --color-dark-accent: #777E9E;

    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

header {
    color: var(--color-light);
    background: var(--color-main);
}

header > div {
    min-height: 4rem;
}

header a {
    text-decoration: none;
}

header h1 {
    color: var(--color-light);
}

header .btn {
    border-color: var(--color-light);
    color: var(--color-light);
}

header .btn:hover {
    color: var(--color-main);
    background: var(--color-light);
}

/* endregion */

/* region Landing page */

#eyecatch {
    min-height: 75vh;
}

#track {
    position: relative;
}

#track::after {
    display: block;
    position: absolute;
    bottom: 1.2em;
    left: 0;
    content: "movies.";
}

#track::before {
    display: block;
    position: absolute;
    bottom: 2.4em;
    left: 0;
    content: "books.";
}

/* endregion */
