{% extends "web/base.html" %}

{% block title %}Collec. {{user}}'s Dashboard{% endblock %}
{% block header_title %}{{user}}'s Dashboard{% endblock %}

{% block header_nav %}

<nav class="nav">
    <a class="nav-link" href="{% url 'dashboard' user %}">Dashboard</a>
    <a class="nav-link" href="{% url 'book_list' user %}">Books</a>
    <a class="nav-link" href="{% url 'videogame_list' user %}">Videogames</a>
    <a class="nav-link" href="{% url 'movie_list' user %}">Movies</a>
</nav>

{% endblock %}
