{% extends "web/base.html" %}

{% block title %}Collec. {{url_user}}'s Dashboard{% endblock %}
{% block header_title %}{{url_user}}'s Dashboard{% endblock %}

{% block header_nav %}

<nav class="nav">
    <a class="nav-link" href="{% url 'dashboard' url_user %}">Dashboard</a>
    <a class="nav-link" href="{% url 'book_list' url_user %}">Books</a>
    <a class="nav-link" href="{% url 'videogame_list' url_user %}">Videogames</a>
    <a class="nav-link" href="{% url 'movie_list' url_user %}">Movies</a>
</nav>

{% endblock %}
