{% extends "web/list_base.html" %}

{% block title %}Collec. {{url_user}}'s Books{% endblock %}
{% block header_title %}{{url_user}}'s Books{% endblock %}
{% block detail_template %}{% url 'book_detail' url_user %}{% endblock %}

{% block sort_options %}
<option value="title" {% if sort_mode == "title" %}selected{% endif %}>Title</option>
<option value="author" {% if sort_mode == "author" %}selected{% endif %}>Author</option>
<option value="created" {% if sort_mode == "created" %}selected{% endif %}>Date created</option>
<option value="modified" {% if sort_mode == "modified" %}selected{% endif %}>Date modified</option>
{% endblock %}

{% block card_list %}

    {% for book in books %}
        <li class="card">
            <div class="card-body">
                {% if own_user %}
                    <a href="{% url 'book_detail_id' url_user book.id %}" onclick="showModal(event)"><h4 class="card-title">{{book.bookdetails.title}}</h4></a>
                {% else %}
                    <h4 class="card-title">{{book.bookdetails.title}}</h4>
                {% endif %}
                <h5 class="card-subtitle">{{book.bookdetails.author}}</h5>
                <p class="card-text">{{book.bookdetails.get_owned_display}}</p>
            </div>
        </li>
    {% endfor %}

{% endblock %}
