{% extends "web/app_base.html" %}

{% block content %}

<main class="dashboard container mt-4 mb-4">
    <h2>{{ url_user }}'s Latest</h2>
    <section class="mt-4">
        <header class="d-flex flex-row align-items-center">
            <a class="d-inline-block me-2" href="{% url 'book_list' url_user %}"><h3>Books</h3></a>
            {% if own_user %}
                <button class="btn btn-primary" type="button" data-href-template="{% url 'book_detail' url_user %}" onclick="showAddModal(event)">+</button>
            {% endif %}
        </header>
        <ol class="d-flex flex-row flex-wrap">
            {% for book in books %}
                <li class="card shadow m-1">
                    <div class="card-body d-flex flex-column">
                        {% if own_user %}
                            <a href="{% url 'book_detail_id' url_user book.id %}" onclick="showModal(event)"><h4 class="card-title">{{book.bookdetails.title}}</h4></a>
                        {% else %}
                            <h4 class="card-title">{{book.bookdetails.title}}</h4>
                        {% endif %}
                        <h5 class="card-subtitle flex-grow-1">{{book.bookdetails.author}}</h5>
                        <p class="card-text">{{book.bookdetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>
    <section class="mt-4">
        <header class="d-flex flex-row align-items-center">
            <a class="d-inline-block me-2" href="{% url 'videogame_list' url_user %}"><h3>Videogames</h3></a>
            {% if own_user %}
                <button class="btn btn-primary" type="button" data-href-template="{% url 'videogame_detail' url_user %}" onclick="showAddModal(event)">+</button>
            {% endif %}
        </header>
        <ol class="d-flex flex-row flex-wrap">
            {% for videogame in videogames %}
                <li class="card shadow m-1">
                    <div class="card-body d-flex flex-column">
                        {% if own_user %}
                            <a href="{% url 'videogame_detail_id' url_user videogame.id %}" onclick="showModal(event)"><h4 class="card-title">{{videogame.videogamedetails.title}}</h4></a>
                        {% else %}
                            <h4 class="card-title">{{videogame.videogamedetails.title}}</h4>
                        {% endif %}
                        <h5 class="card-subtitle flex-grow-1">{{videogame.videogamedetails.get_platform_display}}</h5>
                        <p class="card-text">{{videogame.videogamedetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>
    <section class="mt-4">
        <header class="d-flex flex-row align-items-center">
            <a class="d-inline-block me-2" href="{% url 'movie_list' url_user %}"><h3>Movies</h3></a>
            {% if own_user %}
                <button class="btn btn-primary" type="button" data-href-template="{% url 'movie_detail' url_user %}" onclick="showAddModal(event)">+</button>
            {% endif %}
        </header>
        <ol class="d-flex flex-row flex-wrap">
            {% for movie in movies %}
                <li class="card shadow m-1">
                    <div class="card-body d-flex flex-column">
                        {% if own_user %}
                            <a class="flex-grow-1" href="{% url 'movie_detail_id' url_user movie.id %}" onclick="showModal(event)"><h4 class="card-title">{{movie.moviedetails.title}}</h4></a>
                        {% else %}
                            <h4 class="card-title flex-grow-1">{{movie.moviedetails.title}}</h4>
                        {% endif %}
                        <p class="card-text">{{movie.moviedetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ol>
    </section>
</main>

{% endblock %}
