{% extends "web/app_base.html" %}

{% block content %}

<main class="container">
    <h2>Latest</h2>
    <section>
        <div class="row">
            <a href="{% url 'book_list' url_user %}"><h3 class="col-auto">Books</h3></a>
            <button role="button" class="col-auto btn btn-secondary">+</button>
        </div>
        <ul>
            {% for book in books %}
                <li class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{book.bookdetails.title}}</h4>
                        <h5 class="card-subtitle">{{book.bookdetails.author}}</h5>
                        <p class="card-text">{{book.bookdetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <div class="row">
            <a href="{% url 'videogame_list' url_user %}"><h3 class="col-auto">Videogames</h3></a>
            <button role="button" class="col-auto btn btn-secondary">+</button>
        </div>
        <ul>
            {% for videogame in videogames %}
                <li class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{videogame.videogamedetails.title}}</h4>
                        <h5 class="card-subtitle">{{videogame.videogamedetails.get_platform_display}}</h5>
                        <p class="card-text">{{videogame.videogamedetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <div class="row">
            <a href="{% url 'movie_list' url_user %}"><h3 class="col-auto">Movies</h3></a>
            <button role="button" class="col-auto btn btn-secondary">+</button>
        </div>
        <ul>
            {% for movie in movies %}
                <li class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{movie.moviedetails.title}}</h4>
                        <p class="card-text">{{movie.moviedetails.get_owned_display}}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% endblock %}
