{% load crispy_forms_tags %}

<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% if new %}Add{% else %}Modify{% endif %} {% block item_name %}item{% endblock %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="detail-form" method="post" action="{% block form_action %}{% endblock %}">
                    {{ form|crispy }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                {% if not new %}
                    <button type="submit" form="detail-form" formaction="{% block delete_action %}{% endblock %}" class="btn btn-danger" onclick="itemDelete(event)">Delete</button>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" form="detail-form">{% if new %}Add{% else %}Modify{% endif %}</button>
            </div>
        </div>
    </div>
</div>
