{% extends "web/base.html" %}
{% block title %}Collec. Track your stuff!{% endblock %}
{% block header_title %}Collec{% endblock %}

{% block content %}

    <main class="container-fluid">
        <section id="eyecatch" class="container text-center d-flex flex-column align-items-center justify-content-center">
            <h2>Track your <span id="track">videogames.</span></h2>
            <button type="button" class="btn btn-primary">Sign up</button>
        </section>
        <section class="container">
            <div class="row">
                <article class="card col-md mx-md-2 mb-4">
                    <div class="card-body">
                        <h3 class="card-title">All in one place.</h3>
                        <p class="card-text">
                            With <em>Collec</em> you can track anything you own. At the
                            moment collections of books, videogames and movies are
                            supported. More are on the way!
                        </p>
                    </div>
                </article>
                <article class="card col-md mx-md-2 mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Fields you care about.</h3>
                        <p class="card-text">
                            No more cluttered interfaces. You can fully customize your
                            profile to only feature the parts you like. Not into rating
                            your collection items? No problem!
                        </p>
                    </div>
                </article>
                <article class="card col-md mx-md-2 mb-4">
                    <div class="card-body">
                        <h3 class="card-title">Own your data.</h3>
                        <p class="card-text">
                            <em>Collec</em> is opensource, and can be hosted by anyone.
                            Your collections can be exported to a JSON format, for later
                            import in a different instance, or for use by any external
                            utilities.
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </main>

{% endblock %}
