{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collec. Track your stuff!</title>

    <!-- Vendor styles -->
    {% if debug %}
        <link rel="stylesheet" href="{% static 'css/pico.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/pico.min.css' %}">
    {% endif %}
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'web/css/style.css' %}">
</head>

<body>
<header>
    <nav>
        <a href="/"><h1>Colec</h1></a>
        <ul>
            <li id="sign-in-out"></li>
        </ul>
    </nav>
</header>
<main>
    <section id="eyecatch">
        <h2>Track your <span id="track">videogames.</span></h2>
        <a href="#" role="button">Sign up</a>
    </section>
    <section class="grid">
        <article>
            <header><h3>All in one place.</h3></header>
            <p>
                With <em>Collec</em> you can track anything you own. At the
                moment collections of books, videogames and movies are
                supported. More are on the way!
            </p>
        </article>
        <article>
            <header><h3>Fields you care about.</h3></header>
            <p>
                No more cluttered interfaces. You can fully customize your
                profile to only feature the parts you like. Not into rating
                your collection items? No problem!
            </p>
        </article>
        <article>
            <header><h3>Own your data.</h3></header>
            <p>
                <em>Collec</em> is opensource, and can be hosted by anyone.
                Your collections can be exported to a JSON format, for later
                import in a different instance, or for use by any external
                utilities.
            </p>
        </article>
    </section>
</main>
<footer>
    <p>Collec, Copyright 2023</p>
</footer>
</body>

</html>
