{% extends "web/list_base.html" %}

{% block title %}Collec. {{url_user}}'s Movies{% endblock %}
{% block header_title %}{{url_user}}'s Movies{% endblock %}
{% block detail_template %}{% url 'movie_detail' url_user %}{% endblock %}

{% block sort_options %}
<option value="title" {% if sort_mode == "title" %}selected{% endif %}>Title</option>
<option value="created" {% if sort_mode == "created" %}selected{% endif %}>Date created</option>
<option value="modified" {% if sort_mode == "modified" %}selected{% endif %}>Date modified</option>
{% endblock %}

{% block card_list %}

    {% for movie in movies %}
        <li class="card shadow m-1">
            <div class="card-body">
                {% if own_user %}
                    <a href="{% url 'movie_detail_id' url_user movie.id %}" onclick="showModal(event)"><h4 class="card-title">{{movie.moviedetails.title}}</h4></a>
                {% else %}
                    <h4 class="card-title">{{movie.moviedetails.title}}</h4>
                {% endif %}
                <p class="card-text">{{movie.moviedetails.get_owned_display}}</p>
            </div>
        </li>
    {% endfor %}

{% endblock %}
